/* Font Sizes */
$font-size-h1: 1.5rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1rem;
$font-size-h4: 0.875rem;
$font-size-h5: 0.75rem;
$font-size-text: 1rem;

/* Widths (the maximal thershold of a device type) */
$width-desktop: 1500px;
$width-desktop-low-resolution: 1200px;
$width-tablet: 900px;
// Mobile width below 800px