@import "~assets/scss/bundle.scss";

.picker {
  display: grid;
  gap: 0.5em;

  padding: 0.5em;
  border-radius: 0.5em;
}

.picker__items {
  display: grid;
}

.picker-item {
  display: flex;
  align-items: center;
  // flex: 1;

  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;

  font-size: $font-size-h5;

  transition: 100ms ease font-weight, 200ms ease background-color, 200ms ease color;

  &:hover {}

  &--picked {}
}

.picker-item__checkbox {
  pointer-events: none;
}

.picker-item__text {
  margin-left: 0.75em;

  em {
    font-weight: 800;
  }
}