@import "~assets/scss/bundle.scss";

.slider {
	display: grid;
	gap: 1em;

	@include Mobile {
		margin-top: 2.5em;
	}
}

.slider__buttons {
	display: flex;
	@include column-gap(1em);
	margin-left: auto;

	.button {
		border-radius: 0.5em;
	}

	@include Mobile {
		display: none;
	}
}

.slider__container {
	display: flex;
	align-items: center;

	width: 100%;
	overflow: hidden;

	@include column-gap(3.5em);
}

.slider__button {
	--icon-size: 2.5em;
}

.slider__inner {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 33em;
	gap: 1.25em;

	// padding: 0 2.5em;

	overflow: hidden;

	@include Mobile {
		grid-auto-columns: 80vw;
		overflow: auto;
	}
}
