@import "~assets/scss/bundle.scss";

.file-drop {
	display: grid;
	gap: 0.75em;

	width: 100%;
}

.file-drop__label {
	@include InputLabel;
}

.file-drop__input {
	display: none;
}

.file-drop-area {
	display: grid;
	gap: 2em;
	align-content: center;

	min-width: 25em;
	min-height: 12em;

	padding: 1.5em;
	background: $color-gray-light;
	border-radius: 0.75em;

	color: $color-gray-dark;
	text-align: center;

	cursor: pointer;

	&--over {
		background: $color-gray;
	}
}

.file-drop-area__info {
	display: grid;
	gap: 1em;

	justify-items: center;
}

.file-drop-area__icon {
	--icon-size: 2em;
}

.file-drop-area__text {}


.file-drop-area__files {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
}

.file-drop-area__file {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;

	padding: 0.75em 1em;
	background: white;
	border-radius: 0.5em;
}
