@import "~assets/scss/bundle.scss";

.editable-avatar {
	position: relative;

	$size: 10em;

	width: $size;
	height: $size;
	
	border-radius: 50%;
	overflow: hidden;

	&--pending {
	}
}

.editable-avatar__image {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.editable-avatar__cover {
	position: absolute;
	inset: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: 350ms ease opacity;
	cursor: pointer;

	&:not(:hover) {
		opacity: 0;
	}
}

.editable-avatar__icon {
	--icon-size: 2.25em;
}

input.editable-avatar__input {
	display: none;
}
