@import "vars";

/* Helpers */

@mixin Outline {
	outline: 3px solid rgba(black, 0.25);
}

@mixin InputAppearance {
	padding: 0.75em 1em;
	border: 1px solid gray;
	border-radius: 0.25em;
}

@mixin Badge($size: 1em, $float: true) {
	@if $float==true {
		position: absolute;
		top: $size / -2;
		right: $size / -2;
	}

	padding: $size / 2;
	background: $color-raspberry-1;
	border-radius: 50%;
}

/* Font */

@mixin Typography($size: null, $weight: null) {
	font-size: $size;
	font-weight: $weight;

	white-space: pre-line;
	word-break: normal;
	line-height: 1.25;

	@include Mobile() {
		white-space: normal;

		br {
			display: none;
		}
	}
}

/* Adaptive */

@mixin Mobile {
	@media screen and (max-width: #{$width-tablet}) {
		@content;
	}
}

@mixin Tablet {
	@media screen and (max-width: #{$width-desktop}) {
		@content;
	}
}

/* Utils */

@mixin line-clamp($lines) {
	@supports (display: -webkit-box) {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $lines;
	}

	@supports (display: box) {
		display: box;
		box-orient: vertical;
		line-clamp: $lines;
	}

	@supports (not (display: -webkit-box)) and (not (display: box)) {
		max-height: 1em * $lines;
	}

	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin WidthLimit {
	max-width: $width-desktop;

	margin-left: auto;
	margin-right: auto;

	@include Tablet {
		padding-left: 4vw;
		padding-right: 4vw;
	}
}
