/* Font Sizes */
$font-size-1: 1.5rem;
$font-size-2: 1.25rem;
$font-size-3: 1rem;

/* Widths */
$width-desktop: 1100px;
$width-tablet: 800px;

/* Widths */
$border-radius-1: 0.35em;
$border-radius-2: 1em;
