* {
	position: relative;
	box-sizing: border-box;
}

body {
	font: 1/16px "Arial", sans-serif;
}

/* Headings */

h1 {
	font-size: 1.5rem;
	font-weight: 700;
}

h2 {
	font-size: 1.25rem;
	font-weight: 600;
}

h3 {
	font-size: 1.125rem;
	font-weight: 600;
}

h4,
h5 {
	font-size: 1rem;
	font-weight: 600;
}

/* Text */

p {
	line-height: 1.25;
}

/* Anchor */

a {
	font-weight: 400;
	word-break: normal;

	&.ghost {
		position: absolute;
		inset: 0;
	}
}

/* UX */

input,
button,
textarea {
	all: unset;
	position: relative;
}

input {
	cursor: revert;
}

button,
textarea {
	&:focus-visible {
		outline: revert;
	}
}

button {
	cursor: pointer;
	transition: 100ms ease opacity;

	&:disabled {
		cursor: not-allowed;
	}

	&:not(:disabled):active {
		opacity: 0.75;
	}
}

pre {
	padding: 1em;
	background: #eaeaea;
	border: 1px solid #bdbdbd;
	border-radius: 0.25em;
}

kbd {
	display: inline-block;

	padding: 2px 4px;
	background: #eee;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;

	color: #333;
	font-size: 0.85em;
	font-weight: 700;
	white-space: nowrap;
}
