@import "~assets/scss/bundle.scss";

.popup-layout {
  position: relative;

  padding: 2.25em;
  background: white;
  border-radius: 20px;

  min-width: 20em;
  max-width: 75vw;

  max-height: 90vh;

  margin: auto;
  overflow: auto;
  overflow: overlay;
  overscroll-behavior: contain;

  box-shadow: 0px 0px 20px 10px rgba(black, 0.1);
  cursor: initial;

  @include Mobile {
    padding: 1.75em;
    max-width: 90vw;
  }

}

.popup-layout__close {
  margin-left: auto;

  position: absolute;
  top: 1.25em;
  right: 1.25em;

  &:not(&--static) {}
}

.popup-layout__container {
  display: grid;
  gap: 2.5em;
}
