@import "~assets/scss/bundle.scss";

.notice {
	display: flex;
	align-items: center;

	background: rgba($color-gray, 0.25);
	border: 2px solid $color-gray;
	border-radius: 1.25em;
	padding: 2em 2.5em;

	@include Mobile {
		display: grid;
		gap: 1.5em;

		padding: 1.5em;
	}
}

.notice__info {
	display: grid;
	gap: 1em;
}

.notice__title {
	font-size: $font-size-h2;
	font-weight: 800;
}

.notice__desc {
	max-width: 75%;

	font-size: $font-size-h3;
	line-height: 1.25;

	opacity: 0.75;

	@include DesktopLowResolution {
		max-width: 100%;
	}
}

.notice__element {
	flex-shrink: 0;
	margin-left: auto;

	@include DesktopLowResolution {
		display: grid;
		margin: unset;
	}
}
