@import "~assets/scss/bundle.scss";

.progress-bar {
  --progress: 35;

  flex: 1;

  display: grid;
  gap: 0.5em;
}

.progress-bar__line {
  position: relative;
  flex: 1;

  display: flex;
  height: 0.675em;

  border-radius: 10em;

  overflow: hidden;

  &::before {
    content: "";
    position: absolute;

    width: calc(var(--progress) * 1%);
    height: inherit;

    border-radius: inherit;

    transition: width 200ms;
  }
}
